page-execucao-os {
    .fundoDes {
        background-color: rgb(153, 255, 195);
    }
    .fundoExe {
        background-color: rgb(186, 244, 251);
    }
    .fundoPar {
        background-color: rgb(255, 194, 124);
    }
}
