<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="carregaLista()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar padding>
    <!-- input de filtro -->
    <ion-searchbar [(ngModel)]="filtro" (ionInput)="filtrarLista()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>

        <ion-list *ngIf="listaFiltradaOS.length > 0">
          <ion-item-sliding *ngFor="let item of listaFiltradaOS">

            <!-- <button ion-item (click)="abrirItem(item)"> -->
            <ion-grid ion-item>
              <ion-row>
                <ion-col size="2" align-self-center justify-content-center text-center>
                  <div>
                    <h2>{{item.AT_COD}}</h2>
                  </div>
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col>
                      {{item.AT_DES}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      {{item.AT_DATSOL}}
                    </ion-col>
                    <ion-col size="6" justify-content-end>
                      {{item.AT_STATUS_D}}
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- </button> -->

            <ion-item-options>
              <button ion-button color="success" (click)="abrirItem(item)">
                <ion-icon name="open"></ion-icon>
                {{ 'ABRIR' | translate }}
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row padding *ngIf="listaFiltradaOS.length === 0">
      <ion-col>
        <div>
          <span ion-text color="primary">{{'LISTA_VAZIA' | translate}}</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
